body{
    background-color: aliceblue;
}
header{
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: white;
}
.danhmuc ul{
    display: flex;
    gap: 25px;
    list-style: none;

}
li{
    font-weight: bold;
    font-family: Arial;
}
.timkiem-dangnhap{
    display: flex;
    gap: 10px;
    align-items: center;
}
.timkiem-dangnhap div{
    border-radius: 5px;
    padding:3px 5px;
    border: 1px solid gray;
}
main{
    background-color: aliceblue;
}
.top{
    width:35%;
    margin: auto;
    margin-top: 50px;
}
.menu{
    padding: 20px 0px;
    display: flex;
    justify-content:center;
    gap: 10px;
    margin: auto;
    list-style: none; 
}

h1{
    font-size: 35px;
    font-family: Arial;
}
.menu li{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
    width: 10%; 
}
.bottom{
    width: 70%;
    margin: auto;
}
.new{
    display: flex;
}
.new1{
    width: 50%
}
footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}
footer div{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}